global:
  evaluation_interval: 15s
  scrape_interval: 15s
rule_files:
  - /etc/prometheus/rules/*.rules

scrape_configs:
  {{ prometheus_scrape_configs | to_nice_yaml(indent=2) | indent(2,False) }}
  
{% if (consul_server | length ) %}
  - job_name: 'federate'
    scrape_interval: 5s
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{job="{{ federation_job_name }}"}'
        - '{__name__=~"job:.*"}'
    consul_sd_configs:
    - server: {{ consul_server }}:{{ consul_port }}
      datacenter: {{ consul_dc }}
      tags:
        - prometheus
{% endif %}